# Maven build folder
/target

# Maven wrapper jar (needed for Maven wrapper)
!.mvn/wrapper/maven-wrapper.jar

# IDEs
/.idea
*.iml
*.iws
/.vscode
/.classpath
/.project
/.settings
/.springBeans
/.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
*.log
